<div id="main-container" class="container">
<div class="row">


<h1><%= "#{@picture.title}" %></h1>


<%= image_tag "#{@picture.image_url}", :height => '300px' %><br><br>
<% if this_user == @picture.user %>
      <%= button_to "Delete Picture", @picture, method: :delete %>
<% end %><br>

<% if @picture.tags.present? %>
<h3>Hashtags</h3>
<ul>
  <% @picture.tags.map do |tag| %>
  <li><%= link_to "#{tag.name}", tag_path(tag) %> </li>
  <% end %>
</ul><br>
<% end %>

<div id="like">
<h3>Like This Picture!</h3>
<%= image_tag("https://image.flaticon.com/icons/png/128/148/148836.png", :size => "20x20")%>
<%= @picture.likes.count %>
<br>
<br>
<%= button_to "Like", likes_path(@picture), method: :post %>

<h2><u>Comments</u></h2>
<% @comments.map do |comment| %>
<%= link_to "#{comment.user.username.capitalize}", user_path(comment.user) %>:
<%= comment.content %>

<% if this_user == comment.user.username %>
<%= button_to "Delete", picture_comment_path(comment), method: :delete %>
<% end %>

<br>
<% end %><br>

<div id="comment">
<h3>Add a Comment!</h3>
<%= form_for ([@picture, @comment]) do |f| %>
<%= f.label :content, "Comment:" %>
<%= f.text_field :content %>
<%= f.submit "Post Comment", :class => "button" %>
<% end %>



</div>
</div>
</div>
</div>
