<!DOCTYPE html>
<html lang="en">
<head>
  <title>Picturegram</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style type="text/css">
   body { background: #d7eaf2 !important; }
</style>
<div class="container">
  <br>
  <br>
  <br>

 <div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-12">
    <br>
    <!--  navbar -->
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #5ed7ff;" >
      <div class="container">
        <div class="navbar-header">
    <a class="navbar-brand", href="<%= home_path %>"/>Home</a>
    <% if logged_in? %>
      <%= link_to "#{this_user.username.capitalize}'s Profile", user_path(this_user), class: "navbar-brand"%>
      <%= link_to('Log Out', logout_path, method: 'DELETE', class: "navbar-brand") %>

      <% else %>

      <%= link_to 'Sign Up', signup_path, class: "navbar-brand"%>
      <%= link_to 'Sign In', signin_path, class: "navbar-brand"%>
    <% end %>
       </div>
        </div>
      </nav>
           <!--  nav here -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- content -->
    <div class="container"  role="main">
      <%= yield %>
    </div>

  </body>
<footer>
<hr align="center" width="100%" style="border: 1px solid #b0b5b7;">
<div class="footer-copyright">
        <div class="container-fluid" align="center">
            © 2017 Created by: Marcella Maki and Zoey Kim

        </div>
    </div>
</footer>
<br>
<br>

</html>
